
<meta charset="utf-8">

<title>Hot Spot</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />



<!--iphone-->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon"  sizes="196x196" href="images/logo.png">
<link rel="apple-touch-icon-precomposed" sizes="196x196" href="images/logo.png">
<link rel="apple-touch-startup-image" href="images/logo .png">

<!--Android-->
<link rel="shortcut icon" sizes="196x196" href="images/logo.png">
<meta name="mobile-web-app-capable" content="yes">


<!-- Loading Bootstrap -->
<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- my style sheet-->
<link rel="stylesheet" href="stylesheets/style.css">

<!--Leaflet Stylesheet-->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />


<link rel="shortcut icon" href="images/favicon.ico">

<!--jquery-->
<script src="bower_components/jquery-legacy/dist/jquery.js"></script>

<!--bootstrap-->
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

<!--  leaflet -->
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<link rel="stylesheet" href="stylesheets/L.Control.Locate.css" />
<!--[if lt IE 9]>
<link rel="stylesheet" href="//rawgithub.com/domoritz/leaflet-locatecontrol/gh-pages/src/L.Control.Locate.ie.css"/>
<![endif]-->

<script src="javascripts/L.Control.Locate.js" ></script>
<!-- endbuild -->



