<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-datepicker/css/datepicker3.css">
    <link rel="stylesheet" type="text/css" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css">
</head>
<body ontouchmove="BlockMove(event);">
<div class="container">
<% include ../partials/nav %>

<% if(failed) { %>
<div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Warning!</strong> <%=message%>
</div>
<% } %>


<!-- Add Event form -->
<div class="row addEvent">
    <div class="col-md-12">
        <form id="event-form" class="form-horizontal" role="form" action="/event" method="post" enctype="application/x-www-form-urlencoded" >
            <fieldset>

                <!-- Form Name -->
                <legend>Event Details</legend>

                <!-- Title input-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Title</label>
                    <div class="col-sm-10">
                        <input type="text" pattern=".{3,32}" title="Please enter a title between 3 and 32 characters long" placeholder="Title" name="title" id='title' class="form-control" required>
                    </div>
                </div>

                <!-- Description -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Description</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Description" name="description" id='description' class="form-control">
                    </div>
                </div>

                <!-- Web Address -->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Web Address</label>
                    <div class="col-sm-10"> <!-- Perhaps just add the http:// to the address later -->
                        <input type="text" placeholder="Web Address" name="webaddress" id='webaddress' class="form-control" title="Please enter a valid url, starting with http://" pattern="^(?:(?:https?|ftp):\/\/)(?:\S+(?::\S*)?@)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/\S*)?$">
                    </div>
                </div>

                <!--Category and Price-->
                <div class="form-group">

                    <label class="col-sm-2 control-label" for="textinput">Category</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="category">
                            <option value="Comedy">Comedy</option>
                            <option value="Education">Education</option>
                            <option value="Food">Food</option>
                            <option value="Music">Music</option>
                            <option value="Party">Party</option>
                            <option value="Politics">Politics</option>
                            <option value="Sport">Sport</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>

                    <label class="col-sm-2 control-label" for="textinput">Pricing Information</label>
                    <div class="col-sm-4">
                        <input type="text" name='price' placeholder="Free" class="form-control">
                    </div>
                </div>




                <!-- date input and access-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Date</label>
                    <div class='col-sm-4'>
                        <div class='input-group date' id='datepicker'>
                            <input name="date" type='text' pattern="^(0[1-9]|1[012])[/](0[1-9]|[12][0-9]|3[01])[/]20\d\d$" class="form-control" placeholder="mm/dd/yyyy" id="date" required/>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                        </div>
                    </div>

                    <label class="col-sm-2 control-label" for="textinput">Access</label>
                    <div class="col-sm-4">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="public" value="Public" > Public
                            </label>
                            <label class="btn btn-default ">
                                <input type="radio" name="private" value="Private" > Private
                            </label>
                        </div>
                    </div>

                </div>


                <!-- start and end times-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="textinput">Start Time</label>
                    <div class='col-sm-4'>
                        <div class='input-group date' id='datetimepicker1'>
                            <input name="startTime" type='text' pattern="^(0?[1-9]|1[012])[:][0-5][0-9][\s](AM|PM)$" class="form-control" id="startTime" required />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                                                </span>
                        </div>

                    </div>
                    <label class="col-sm-2 control-label" for="textinput">End Time</label>
                    <div class='col-sm-4'>
                        <div class='input-group date' id='datetimepicker2'>
                            <input name="endTime" type='text' pattern="^(0?[1-9]|1[012])[:][0-5][0-9][\s](AM|PM)$" class="form-control" id="endTime" required />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                                                </span>
                        </div>
                    </div>
                </div>




                <!--Full address form-->

                <div id="full_address_details"  style="display: none">
                    <legend>Address Details</legend>
                    <!-- address line 1 input-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">Line 1</label>
                        <div class="col-sm-10">
                            <input id='addressLine1' type="text" pattern="^[0-9]{1,5} [1-9]?[0-9]{0,2}([a-zA-Z-]*)([\s][1-9]{0,3}[a-zA-Z-]*)+[a-zA-Z]$" title="Please enter a valid address. Apartment/suite numbers should go on line 2." placeholder="Address Line 1" name="addressLine1"id="addressLine1" class="form-control" required>
                        </div>
                    </div>

                    <!-- address line 2 input-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">Line 2</label>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Address Line 2"  name="addressLine2" id='addressLine2' class="form-control"> <!--Intentionally not required-->
                        </div>
                    </div>

                    <!-- city input-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">City</label>
                        <div class="col-sm-10">
                            <input type="text" pattern="^[a-zA-Z- ]{2,31}[a-zA-Z]$" title="Please enter a valid city" placeholder="City" name="city" id="city" class="form-control" required>
                        </div>
                    </div>

                    <!-- state input-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">State/Province</label>
                        <div class="col-sm-4">
                            <input type="text" pattern="[a-zA-Z]*" title="Please enter a valid state" placeholder="State" name="state" id="state" class="form-control"> <!--Intentionally not required-->
                        </div>

                        <label class="col-sm-2 control-label" for="textinput">Postcode</label>
                        <div class="col-sm-4">
                            <input type="text" pattern="[0-9]{3,5}([\-][0-9]{3,4})?" title="Please enter a valid postal code" placeholder="Postcode" name="postal" id="postal" class="form-control">
                        </div>
                    </div>

                    <!-- country input-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">Country</label>
                        <div class="col-sm-10">
                            <input type="text" pattern="^[a-zA-Z- ]{2,31}[a-zA-Z]$" title="Please enter a valid country" placeholder="Country" name="country" id="country" class="form-control" required>
                        </div>
                    </div>

                </div>

                <!--Small address form-->

                <div id="limited_address_details">
                    <legend>Address Details</legend>

                    <div class="form-group  ">
                        <label class="col-sm-2 control-label"  for="textinput">Details</label>
                        <div class="col-sm-10">
                            <div  id="edit_button" class="input-group has-success">
                                <input  class="  form-control"  id="address_details" type="text" pattern="^[0-9]{1,5} [1-9]?[0-9]{0,2}([a-zA-Z-]*)([\s][1-9]{0,3}[a-zA-Z-]*)+,.*,.*">
                                    <span  class="input-group-addon">
                                        <span class=" col-sm-2  glyphicon glyphicon glyphicon-pencil">   </span>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- submit input-->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="pull-right">
                            <a href="/main" class="btn btn-default">Cancel</a>
                            <button type="submit" id="submit_button" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


</div>
<% include ../partials/scripts %>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="bower_components/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>


<script>
    function getUrlParameter(sParam){
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++){
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    }

    function validate (e){
        // Stops post
        e.preventDefault();

        // Get some values from elements on the page:
        var $form = $( this );

        var search = $('#addressLine1').val() + (' ' ||  $('#addressLine2').val() )+ ', ' + $('#city').val() + ', ' + $('#state').val() + ', ' + $('#postal').val();

        $.get("https://maps.googleapis.com/maps/api/geocode/json?",{address:search},function(eventLookup){

            console.log(eventLookup.results[0].formatted_address);
            if(eventLookup.length === 0){
                console.error('location not found!')
            }

            console.log(eventLookup);
            if(getUrlParameter('assignedLatLng')){
                console.log('userlatlng');
                var lat = $("<input>").attr("type", "hidden").attr("name", "lat").val(getUrlParameter('lat'));
                var lon = $("<input>").attr("type", "hidden").attr("name", "lon").val(getUrlParameter('lng'));
            } else if(eventLookup.results.length === 7) {
                var lat = $("<input>").attr("type", "hidden").attr("name", "lat").val(eventLookup.results[0].geometry.location.lat);
                var lon = $("<input>").attr("type", "hidden").attr("name", "lon").val(eventLookup.results[0].geometry.location.lng);
                $('#city').val(eventLookup.results[0].address_components[2].long_name);
                $('#state').val(eventLookup.results[0].address_components[4].long_name);
                $('#postal').val(eventLookup.results[0].address_components[6].long_name);
                $('#country').val(eventLookup.results[0].address_components[5].long_name);
            }

            $.get("https://maps.googleapis.com/maps/api/geocode/json?",{address:$('#city').val() + ", " + $('#state').val() + ", " + $('#country').val() },function(city){
                console.log(city);
                var lowLat = $("<input>").attr("type", "hidden").attr("name", "lowLat").val(city.results[0].geometry.viewport.southwest.lat);
                var lowLon = $("<input>").attr("type", "hidden").attr("name", "lowLon").val(city.results[0].geometry.viewport.southwest.lng);
                var highLat = $("<input>").attr("type", "hidden").attr("name", "highLat").val(city.results[0].geometry.viewport.northeast.lat);
                var highLon = $("<input>").attr("type", "hidden").attr("name", "highLon").val(city.results[0].geometry.viewport.northeast.lng);

                $form.append(lat);
                $form.append(lon);
                $form.append(lowLat);
                $form.append(lowLon);
                $form.append(highLat);
                $form.append(highLon);

                $form.unbind('submit').submit();

            });


        });
    }
    function fillAddress() {
        $.get("https://maps.googleapis.com/maps/api/geocode/json?latlng="+getUrlParameter('lat')+','+getUrlParameter('lng')+'&sensor=false', {}, function (eventLookup) {

            console.log(eventLookup.results[0]);
            if (eventLookup.length === 0) {
                console.error('location not found!')
            } else if(eventLookup.results[0].address_components.length === 7){
                $('#address_details').val(eventLookup.results[0].formatted_address);
                $('#addressLine1').val(eventLookup.results[0].address_components[0].long_name + ' ' + eventLookup.results[0].address_components[1].long_name );
                $('#city').val(eventLookup.results[0].address_components[2].long_name);
                $('#state').val(eventLookup.results[0].address_components[4].long_name);
                $('#postal').val(eventLookup.results[0].address_components[6].long_name);
                $('#country').val(eventLookup.results[0].address_components[5].long_name);
            } else if(eventLookup.results[0].address_components.length === 8){
                $('#address_details').val(eventLookup.results[0].formatted_address);
                $('#addressLine1').val(eventLookup.results[0].address_components[0].long_name + ' ' + eventLookup.results[0].address_components[1].long_name );
                $('#city').val(eventLookup.results[0].address_components[3].long_name);
                $('#state').val(eventLookup.results[0].address_components[5].long_name);
                $('#postal').val(eventLookup.results[0].address_components[7].long_name);
                $('#country').val(eventLookup.results[0].address_components[6].long_name);
            } else if(eventLookup.results[0].address_components.length === 6){
                $('#address_details').val(eventLookup.results[0].formatted_address);
                $('#addressLine1').val(eventLookup.results[0].address_components[0].long_name);
                $('#city').val(eventLookup.results[0].address_components[1].long_name);
                $('#state').val(eventLookup.results[0].address_components[3].long_name);
                $('#postal').val(eventLookup.results[0].address_components[5].long_name);
                $('#country').val(eventLookup.results[0].address_components[4].long_name);
            } else {
                sweetAlert('Error', 'Location not found!','error');
            }


        });
    }

    if(getUrlParameter('assignedLatLng')){
        fillAddress();
    } else {
        $('#limited_address_details').hide('fast', function(){
            $('#full_address_details').fadeIn('fast');
            $('.container').css('height',( parseInt( $( window ).height() ) + parseInt( $( '#full_address_details' ).height() ) ) + 'px' )

        });
    }

    $('#event-form').on('submit',validate);

    $('#datepicker').datepicker({
        startDate: "today",
        autoclose: true,
        todayHighlight: true
    })
    $('#datetimepicker1').datetimepicker({
        pickDate: false
    });
    $('#datetimepicker2').datetimepicker({
        pickDate: false
    });

    $('#edit_button').on('click' , function(){
        $('#limited_address_details').fadeOut('slow', function(){
            $('#full_address_details').fadeIn('slow');
            $('.container').css('height',( parseInt( $( window ).height() ) + parseInt( $( '#full_address_details' ).height() ) ) + 'px' );
            $('#address_details').val('');
        });
    });

    // Just to make sure you see what's wrong if the limited address details validation is true when the (hidden) full address details validation is false
    $('#submit_button').on('click', function() {
        if (!$('#address_details').is(':invalid') && ($('#addressLine1').is(':invalid') || $('#city').is(':invalid') || $('#state').is(':invalid') || $('#postal').is(':invalid') || $('#country').is(':invalid'))) {
            $('#limited_address_details').hide('fast', function () {
                $('#full_address_details').fadeIn('fast');
                $('.container').css('height', ( parseInt($(window).height()) + parseInt($('#full_address_details').height()) ) + 'px');
                $('#address_details').val('')
            });
        }
    });


</script>
<script>
    // Listen for ALL links at the top level of the document. For
    // testing purposes, we're not going to worry about LOCAL vs.
    // EXTERNAL links - we'll just demonstrate the feature.
    $( document ).on(
            "click",
            "a",
            function( event ){

                // Stop the default behavior of the browser, which
                // is to change the URL of the page.
                event.preventDefault();

                // Manually change the location of the page to stay in
                // "Standalone" mode and change the URL at the same time.
                location.href = $( event.target ).attr( "href" );

            }
    );
</script>




</body>
</html>