<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head%>

    <style>

        body {
            min-height: 100%;
        }

        #eventList {
            list-style:none;
            overflow:auto;
        }
        #eventList li{
            margin-top: 5px;
            margin-bottom: 5px;
        }

        #footer {
            background-color: #F5F5F5;
            bottom: 0;
            position: relative;
            width: 100%;
            margin-bottom: 0;
        }

        #top-content {
            padding-bottom: 5px;
        }

    </style>
</head>
<body>
<div class="container">
    <% include ../partials/nav%>
    <% if(!message) {%>
    <h2> <% events[0].address.city %> </h2>
    <% } %>
    <!-- Top Hot Spots -->
    <div id="top-content" class="row" >
        <div class="col-md-12">
            <ul class="list-group" id="eventList">
                <% if(message) { %>
                <li class="futureEvent noEventMessage">
                <div class="row" style="padding-top: 5%;">
                    <div class=" col-sm-offset-3 col-sm-6"> <div class="alert alert-danger" role="alert"><p class="text-center"> <%=message %></p></div></div>
                </div>
                </li>
                <% } else { %>
                <% for(var i=0; i< events.length; i++) {%>
                <li class="list-group-item futureEvent" data-id="<%=events[i]._id%>">
                        <span class="badge">
                            <%=(function dateToString(date) {
                                var month = date.getMonth() + 1;
                                var day = date.getDate();
                                var dateOfString = (("" + month).length < 2 ? "0" : "") + month + "/";
                                dateOfString += (("" + day).length < 2 ? "0" : "") + day + "/";
                                dateOfString += date.getFullYear();
                                return dateOfString;
                            })(events[i].start)%>
                        </span>
                    <address>
                        <strong> <%= events[i].title %></strong>
                        <small>
                            <%= events[i].address.street + ' ' + events[i].address.city + " " +events[i].address.state +' '+ events[i].address.zipcode +' '+ events[i].address.country   %>
                        </small>
                    </address>
                </li>
                <% } %>
                <% } %>
            </ul>
        </div>

        <div class="row">
            <div class="col-sm-12 center-block">
                <button type="button" id="pullEvents" class="btn btn-default btn-sm center-block">
                    Get More <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
    </div><!-- end of container -->






    <div id="footer" class="navbar-default">
            <div class="row" >
                <div class="col-sm-12">
                    <div class="input-group" id="searchContainer" >
                        <input type="text" class="form-control" id="city-search" name="city-search">
                    <span class="input-group-btn">
                    <button id="searchButton" class="btn btn-default"  type="button">Go!</button>
                    </span>
                    </div>
                </div>
            </div>
    </div>



</div>
<% include ../partials/scripts%>
<script>

    function setCookie(cname, cvalue) {
        document.cookie = cname + "=" + cvalue;
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }


    function getUrlParameter(sParam){
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++){
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam)
            {
                return sParameterName[1];
            }
        }
    }
    var count = parseInt(getUrlParameter('count')) + 3;

    function formatDate(dateStr) {
        var date = new Date(dateStr);
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var dateOfString = (("" + month).length < 2 ? "0" : "") + month + "/";
        dateOfString += (("" + day).length < 2 ? "0" : "") + day + "/";
        dateOfString += date.getFullYear();
        return dateOfString;
    }

    $('.container').css('min-height',  (parseInt( $( 'body'  ).height() -28) + 'px') );
    $('#top-content').css('min-height', (parseInt( $( 'body' ).height() -114 )+ 'px') );

    $('.futureEvent').on('click',function(){
        var href = '/singleEvent?id=' + $( this).attr( "data-id" );
        location.href = href;
    });

    $('#pullEvents').on('click',function(){

        var request=$.ajax({

            type:"GET",
            url: '/pullEvents',
            data:{
                count: count
            },
            error: function(){
                sweetAlert('Problem','Error during pulling More events!!', 'error');
            }

        });

        request.done(function(events){
            console.log(events);
            if(events.length != 0 ){
                count = count + 3;
                for(var i = 0 ; i < events.length ; i++){
                    var moreEvents = $('<li class="list-group-item futureEvent" data-id="'+ events[i]._id +'"><span class="badge">'+ formatDate(events[i].start)+ '</span><address><strong>'+ events[i].title +' </strong> <small>'+ events[i].address.street + ' ' + events[i].address.city + " " +events[i].address.state +' '+ events[i].address.zipcode +' '+ events[i].address.country  +'</small></address></li>').hide().fadeIn();
                    $('#eventList').append(moreEvents);
                }
                $('.futureEvent').off().on('click',function(){
                    console.log($(this).attr( "data-id" ));
                    var href = '/singleEvent?id=' + $(this).attr( "data-id" );
                    location.href = href;
                })
            } else{
                sweetAlert('Oh no!!!','No more events found at this location try and search somewhere else');

                if($('.futureEvent').size() == 0  ){
                    console.log('no event message');
                    var message= $( '<li class="futureEvent"><div class="row" style="padding-top: 5%;"><div class="col-sm-offset-3 col-sm-6"><div class="alert alert-danger" role="alert"><p class="text-center">' + "Sorry we did not find any future events in "+ readCookie('city') + '</p></div></div></div></li>');
                    $('#eventList').append(message);
                }

            }

        });

    });

//    search diffrent city
    $('#searchButton').on('click', function(){
        console.log('click');

        $.get("https://maps.googleapis.com/maps/api/geocode/json?", { address: $('#city-search').val() } , function(eventLookup){

            console.log(eventLookup);

            if(eventLookup.results.length > 0){
                console.log(eventLookup);
                setCookie("city", eventLookup.results[0].address_components[0].long_name);
                setCookie("city-lat", eventLookup.results[0].geometry.location.lat);
                setCookie("city-lon", eventLookup.results[0].geometry.location.lng);

                count = 0;

                // fad out list elements
                $('#eventList').hide();

                // remove list elements
                $('.futureEvent').remove();
                $('.noEventMessage').remove();

                $('#pullEvents').trigger( "click");

                $('#eventList').fadeIn();
            } else {
                sweetAlert('😫', 'City not found', 'error');
            }

        });
    });

</script>
<script>
    // Listen for ALL links at the top level of the document. For
    // testing purposes, we're not going to worry about LOCAL vs.
    // EXTERNAL links - we'll just demonstrate the feature.
    $( document ).on(
            "click",
            "a",
            function( event ){

                // Stop the default behavior of the browser, which
                // is to change the URL of the page.
                event.preventDefault();

                // Manually change the location of the page to stay in
                // "Standalone" mode and change the URL at the same time.
                location.href = $( event.target ).attr( "href" );

            }
    );

</script>



</body>
</html>