<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <% if( isAuthenticated ){ %>
    <script>window.location = "/main";</script>
    <% } %>

</head>
<body >


<div class="container" style=" height: 100%;">

    <div class="row" style="padding-left: 10%; padding-right: 10%; padding-top: 25%">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please sign in</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="POST" id="main-login">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" name="username" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Login" id="submit-login">
                            <input class="btn btn-lg btn-info btn-block" value="Sign Up!" id="sign-up">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

<% include ../partials/scripts %>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js" ></script>
<script>
    (function() {
        $("#main-login").validate({ // initialize the plugin
            rules: {
                username: {
                    required: true
                },
                password: {
                    required: true,
                    password: true
                }
            }
        });
        $('#sign-up').on('click',function(e){
            window.location.href='/signup';
        });
    })()

    /*$('#submit-login').on('click', function() {
        //sweetAlert($("#main-login").valid());
        if (!$("#main-login").valid()) {
            sweetAlert("Sorry, that login info is incorrect! Please try again or sign up for a new account");
         }
    })*/
</script>

</body>
</html>