<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body >
<div class="container">

    <% include ../partials/nav %>

    <!-- map -->
    <div class="row ">
        <div class="col-sm-12">
            <img id="loader" class="img-responsive" src="/images/ajax-loader.gif" style=" margin: 25% auto; "  />

            <div style="width:100%; height: 400px;" id="map"></div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="input-group" id="searchContainer" ">
            <input type="text" class="form-control" id="city-search" name="city-search">
            <span class="input-group-btn">
            <button class="btn btn-default" id="searchButton" type="button">Go!</button>
            </span>
        </div>
    </div><!-- /input-group -->

</div>
<div id="flag" data-flag="<%=flagBool%>"></div>


<% include ../partials/scripts %>
<!-- mapquest api-->
<!--<script src="http://www.mapquestapi.com/sdk/leaflet/v1.0/mq-map.js?key=Fmjtd%7Cluur250ynl%2C8s%3Do5-9w25la"></script>-->
<!--<script src="http://www.mapquestapi.com/sdk/leaflet/v1.0/mq-routing.js?key=Fmjtd%7Cluur250ynl%2C8s%3Do5-9w25la"></script>-->

<script >
var map,
        locCtrl,
        myLocation,
        eventLayer ,
        otherGroup,
        musicGroup,
        comedyGroup,
        educationGroup,
        foodGroup,
        politicsGroup,
        sportGroup,
        partyGroup,
        activeLock,
        activeCities = [], //Only using this to make removing cities from array easier?
        activeCityObjs = [],
        minBounds,
        maxBounds,
        userEventMarker='none';

$.get('/activeCities', function (cities) {
    for(var i =0 ; i < cities.length;i++) {
        activeCities[i] = cities[i].name;
        var city = {
            name: cities[i].name,
            lowLat: cities[i].bounds.lowLat,
            lowLon: cities[i].bounds.lowLon,
            highLat: cities[i].bounds.highLat,
            highLon: cities[i].bounds.highLon
        }
        activeCityObjs[i] = city;
    }
});

function categoryHeatData() {
    //public
    this.names = [];
    this.values = [];
    this.redThreshold;
    this.blueThreshold;
    this.maxHotness = 0;

    this.fillOut = function() {
        sum = calcSum.call(this);
        mean = calcMean.call(this);
        squareDiffs = calcSquareDiffs.call(this);
        avgSquareDiff = calcAvgSquareDiff.call(this);
        stdDev = calcStdDev.call(this);
        this.redThreshold = calcRedThreshold.call(this);
        this.blueThreshold = calcBlueThreshold.call(this);
    }

    //private
    var sum = 0;
    var mean = 0;
    var squareDiffs = [];
    var avgSquareDiff = 0;
    var stdDev = 0;


    var calcSum = function () {
        var tempSum = 0;
        for (var i = 0; i < this.values.length; ++i) {
            tempSum += this.values[i];
            if (this.values[i] > this.maxHotness) { //it hurts me to do this, but...
                this.maxHotness = this.values[i];
            }
        }
        return tempSum;
    };

    var calcMean = function () {
        if (this.values.length !== 0) {
            return sum / this.values.length;
        }
        else {
            return 0;
        }
    };

    var calcSquareDiffs = function () {
        return this.values.map(function (value) {
            var diff = value - mean;
            return diff * diff;
        });
    }

    var calcAvgSquareDiff = function () {
        if (squareDiffs.length > 0) {
            var sumDiffs = 0;
            for (var i = 0; i < squareDiffs.length; ++i) {
                sumDiffs += squareDiffs[i];
            }
            return sumDiffs / squareDiffs.length;
        }
        else {
            return 0;
        }
    };

    var calcStdDev = function () {
        return Math.sqrt(avgSquareDiff);
    };

    var calcRedThreshold = function () {
        return mean + 0.84*stdDev;
    }

    var calcBlueThreshold = function () {
        return mean - 0.25*stdDev;
    }
}

function makeMarkers(events){

    var SpotIcon = L.Icon.extend ({
        options: {
            iconSize: [38, 38], // size of the icon
            shadowSize: [0, 0], // size of the shadow
            iconAnchor: [19, 19], // point of the icon which will correspond to marker's location
            popupAnchor: [0, -16] // point from which the popup should open relative to the iconAnchor
        }
    });

    var blueSpot = new SpotIcon ({iconUrl: 'images/blueSpot.png'});
    var orangeSpot = new SpotIcon ({iconUrl: 'images/orangeSpot.png'});
    var redSpot = new SpotIcon ({iconUrl: 'images/redSpot.png'});

    var icons = [blueSpot, orangeSpot, redSpot];

    var heatData = {
        other: new categoryHeatData(),
        music: new categoryHeatData(),
        comedy: new categoryHeatData(),
        education: new categoryHeatData(),
        food: new categoryHeatData(),
        politics: new categoryHeatData(),
        sport: new categoryHeatData(),
        party: new categoryHeatData()
    }

    for (var i = 0; i < events.length; ++i) {

        if (events[i].category === 'Other') {
            heatData.other.names.push(events[i].title);
            heatData.other.values.push(events[i].attendees.length);
        } else if (events[i].category === 'Music') {
            heatData.music.names.push(events[i].title);
            heatData.music.values.push(events[i].attendees.length);
        } else if (events[i].category === 'Comedy') {
            heatData.comedy.names.push(events[i].title);
            heatData.comedy.values.push(events[i].attendees.length);
        } else if (events[i].category === 'Education') {
            heatData.education.names.push(events[i].title);
            heatData.education.values.push(events[i].attendees.length);
        } else if (events[i].category === 'Food') {
            heatData.food.names.push(events[i].title);
            heatData.food.values.push(events[i].attendees.length);
        } else if (events[i].category === 'Politics') {
            heatData.politics.names.push(events[i].title);
            heatData.politics.values.push(events[i].attendees.length);
        } else if (events[i].category === 'Sport') {
            heatData.sport.names.push(events[i].title);
            heatData.sport.values.push(events[i].attendees.length);
        } else {
            heatData.party.names.push(events[i].title);
            heatData.party.values.push(events[i].attendees.length);
        }
    }

    $.each(heatData, function(index) {
        heatData[index].fillOut();
    });

    var layers  = {
        other:[],
        music:[],
        comedy:[],
        education:[],
        food:[],
        politics:[],
        sport:[],
        party:[]
    };

    var iconIndex;

    for(var i =0 ; i < events.length;i++){

        if(events[i].category === 'Other'){
            if (events[i].attendees.length >= heatData.other.redThreshold || events[i].attendees.length >= heatData.other.maxHotness) {
                iconIndex = 2; // Red icon
            }
            else if (events[i].attendees.length < heatData.other.blueThreshold) {
                iconIndex = 0; // Blue icon
            }
            else {
                iconIndex = 1; // Orange icon
            }
            layers.other.push(L.marker([events[i].location.lat, events[i].location.lon],{icon:icons[iconIndex]}).bindPopup( '<div  style="text-align:center"><a href="/singleEvent?id='+ events[i]._id +'">'+ events[i].title +'</a>' + '<br><small>' + events[i].description.substring(0, 20)  +'...</small>' + "<br><small style='color:Red'>Fuel the Fire</small><span id='hotnessBtn' style='color:#f46204; font-size: 1em' class='glyphicon glyphicon-fire' data-id='" + events[i]._id +"'></span>" ));
        } else if (events[i].category === 'Music'){
            if (events[i].attendees.length >= heatData.music.redThreshold || events[i].attendees.length >= heatData.music.maxHotness) {
                iconIndex = 2; // Red icon
            }
            else if (events[i].attendees.length < heatData.music.blueThreshold) {
                iconIndex = 0; // Blue icon
            }
            else {
                iconIndex = 1; // Orange icon
            }
            layers.music.push(L.marker([events[i].location.lat, events[i].location.lon],{icon:icons[iconIndex]}).bindPopup( '<div  style="text-align:center"><a href="/singleEvent?id='+ events[i]._id +'">'+ events[i].title +'</a>' + '<br><small>' + events[i].description.substring(0, 20)  +'...</small>' + "<br><small style='color:Red'>Fuel the Fire </small><span id='hotnessBtn' style='color:#f46204; font-size: 1em' class='glyphicon glyphicon-fire' data-id='" + events[i]._id +"'></span>" ));
        } else if (events[i].category === 'Comedy'){
            if (events[i].attendees.length >= heatData.comedy.redThreshold || events[i].attendees.length >= heatData.comedy.maxHotness) {
                iconIndex = 2; // Red icon
            }
            else if (events[i].attendees.length < heatData.comedy.blueThreshold) {
                iconIndex = 0; // Blue icon
            }
            else {
                iconIndex = 1; // Orange icon
            }
            layers.comedy.push(L.marker([events[i].location.lat, events[i].location.lon],{icon:icons[iconIndex]}).bindPopup( '<div  style="text-align:center"><a href="/singleEvent?id='+ events[i]._id +'">'+ events[i].title +'</a>' + '<br><small>' + events[i].description.substring(0, 20)  +'...</small>' + "<br><small style='color:Red'>Fuel the Fire</small><span id='hotnessBtn' style='color:#d75b04; font-size: 1em' class='glyphicon glyphicon-fire' data-id='" + events[i]._id +"'></span>" ));
        } else if (events[i].category === 'Education'){
            if (events[i].attendees.length >= heatData.education.redThreshold || events[i].attendees.length >= heatData.education.maxHotness) {
                iconIndex = 2; // Red icon
            }
            else if (events[i].attendees.length < heatData.education.blueThreshold) {
                iconIndex = 0; // Blue icon
            }
            else {
                iconIndex = 1; // Orange icon
            }
            layers.education.push(L.marker([events[i].location.lat, events[i].location.lon],{icon:icons[iconIndex]}).bindPopup( '<div  style="text-align:center"><a href="/singleEvent?id='+ events[i]._id +'">'+ events[i].title +'</a>' + '<br><small>' + events[i].description.substring(0, 20)  +'...</small>' + "<br><small style='color:Red'>Fuel the Fire </small><span id='hotnessBtn' style='color:#d75b04; font-size: 1em' class='glyphicon glyphicon-fire' data-id='" + events[i]._id +"'></span>" ));
        } else if (events[i].category === 'Food'){
            if (events[i].attendees.length >= heatData.food.redThreshold || events[i].attendees.length >= heatData.food.maxHotness) {
                iconIndex = 2; // Red icon
            }
            else if (events[i].attendees.length < heatData.food.blueThreshold) {
                iconIndex = 0; // Blue icon
            }
            else {
                iconIndex = 1; // Orange icon
            }
            layers.food.push(L.marker([events[i].location.lat, events[i].location.lon],{icon:icons[iconIndex]}).bindPopup( '<div  style="text-align:center"><a href="/singleEvent?id='+ events[i]._id +'">'+ events[i].title +'</a>' + '<br><small>' + events[i].description.substring(0, 20)  +'...</small>' + "<br><small style='color:Red'>Fuel the Fire</small><span id='hotnessBtn' style='color:#d75b04; font-size: 1em' class='glyphicon glyphicon-fire' data-id='" + events[i]._id +"'></span>" ));
        } else if (events[i].category === 'Politics'){
            if (events[i].attendees.length >= heatData.politics.redThreshold || events[i].attendees.length >= heatData.politics.maxHotness) {
                iconIndex = 2; // Red icon
            }
            else if (events[i].attendees.length < heatData.politics.blueThreshold) {
                iconIndex = 0; // Blue icon
            }
            else {
                iconIndex = 1; // Orange icon
            }
            layers.politics.push(L.marker([events[i].location.lat, events[i].location.lon],{icon:icons[iconIndex]}).bindPopup( '<div  style="text-align:center"><a href="/singleEvent?id='+ events[i]._id +'">'+ events[i].title +'</a>' + '<br><small>' + events[i].description.substring(0, 20)  +'...</small>' + "<br><small style='color:Red'>Fuel the Fire</small><span id='hotnessBtn' style='color:#d75b04; font-size: 1em' class='glyphicon glyphicon-fire' data-id='" + events[i]._id +"'></span>" ));
        } else if (events[i].category === 'Sport'){
            if (events[i].attendees.length >= heatData.sport.redThreshold || events[i].attendees.length >= heatData.sport.maxHotness) {
                iconIndex = 2; // Red icon
            }
            else if (events[i].attendees.length < heatData.sport.blueThreshold) {
                iconIndex = 0; // Blue icon
            }
            else {
                iconIndex = 1; // Orange icon
            }
            layers.sport.push(L.marker([events[i].location.lat, events[i].location.lon],{icon:icons[iconIndex]}).bindPopup( '<div  style="text-align:center"><a href="/singleEvent?id='+ events[i]._id +'">'+ events[i].title +'</a>' + '<br><small>' + events[i].description.substring(0, 20)  +'...</small>' + "<br><small style='color:Red'>Fuel the Fire </small><span id='hotnessBtn' style='color:#d75b04; font-size: 1em' class='glyphicon glyphicon-fire' data-id='" + events[i]._id +"'></span>" ));
        } else {
            console.log("Values: " + heatData.party.values + " Count: " + heatData.party.values.length + " Sum " + heatData.party.sum + " Red Threshold: " + heatData.party.redThreshold);
            if (events[i].attendees.length >= heatData.party.redThreshold || events[i].attendees.length >= heatData.party.maxHotness) {
                iconIndex = 2; // Red icon
            }
            else if (events[i].attendees.length < heatData.party.blueThreshold) {
                iconIndex = 0; // Blue icon
            }
            else {
                iconIndex = 1; // Orange icon
            }
            layers.party.push(L.marker([events[i].location.lat, events[i].location.lon],{icon:icons[iconIndex]}).bindPopup( '<div  style="text-align:center"><a href="/singleEvent?id='+ events[i]._id +'">'+ events[i].title +'</a>' + '<br><small>' + events[i].description.substring(0, 20)  +'...</small>' + "<br><small style='color:Red'>Fuel the Fire</small><span id='hotnessBtn'  style='color:#d75b04; font-size: 1em' class='glyphicon glyphicon-fire' data-id='" + events[i]._id +"'></span>" ));
        }
    }

    return layers;
}

function setCookie(cname, cvalue) {
    document.cookie = cname + "=" + cvalue;
}

function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
}


function updateMap(){

    map.setView(new L.LatLng(readCookie('city-lat'), readCookie('city-lon')));

    $.get('/events', {city: readCookie('city'), currentDate: (new Date((new Date().getTime()+ 86400000))) }, function (events) {
//                EventLayer is an array of markers to be placed on the map
        eventLayer = makeMarkers(events);

        otherGroup.clearLayers();
        musicGroup.clearLayers();
        comedyGroup.clearLayers();
        educationGroup.clearLayers();
        foodGroup.clearLayers();
        politicsGroup.clearLayers();
        sportGroup.clearLayers();
        partyGroup.clearLayers();


        $.get('/activeCities', function (cities) {
            if (events.length > 0) {
                /*Want to make sure we get our cities back in the array after clearing...if we even want to keep clearing.
                 but...events can be null.*/
                var skippedCity = false;
                for (var i = 0; i < cities.length; i++) {
                    if (cities[i].name !== events[0].address.city && !skippedCity) {
                        activeCities[i] = cities[i].name;
                        var city = {
                            name: cities[i].name,
                            lowLat: cities[i].bounds.lowLat,
                            lowLon: cities[i].bounds.lowLon,
                            highLat: cities[i].bounds.highLat,
                            highLon: cities[i].bounds.highLon
                        }
                        activeCityObjs[i] = city;
                    }
                    else if (cities[i].name !== events[0].address.city && skippedCity) {
                        activeCities[i - 1] = cities[i].name;
                        var city = {
                            name: cities[i].name,
                            lowLat: cities[i].bounds.lowLat,
                            lowLon: cities[i].bounds.lowLon,
                            highLat: cities[i].bounds.highLat,
                            highLon: cities[i].bounds.highLon
                        }
                        activeCityObjs[i - 1] = city;
                    }
                    else {
                        skippedCity = true;
                    }
                }
            } else { //flawed because it queries an empty city again...should just use cookies (or not clear on search)
                for (var i = 0; i < cities.length; i++) {
                    activeCities[i] = cities[i].name;
                    var city = {
                        name: cities[i].name,
                        lowLat: cities[i].bounds.lowLat,
                        lowLon: cities[i].bounds.lowLon,
                        highLat: cities[i].bounds.highLat,
                        highLon: cities[i].bounds.highLon
                    }
                    activeCityObjs[i] = city;
                }
            }
        });

        otherGroup.addLayer(L.layerGroup(eventLayer.other));
        musicGroup.addLayer(L.layerGroup(eventLayer.music));
        comedyGroup.addLayer(L.layerGroup(eventLayer.comedy));
        educationGroup.addLayer(L.layerGroup(eventLayer.education));
        foodGroup.addLayer(L.layerGroup(eventLayer.food));
        politicsGroup.addLayer(L.layerGroup(eventLayer.politics));
        sportGroup.addLayer(L.layerGroup(eventLayer.sport));
        partyGroup.addLayer(L.layerGroup(eventLayer.party));
    });
}

function initMap(position) {

//         location object for current user
    myLocation = {
        format: 'json',
        lat: position.coords.latitude || 38.343412,
        lon: position.coords.longitude || 122.701966581803,
        zoom: 18,
        addressdetails: 1

    };

//          Gets user location information from the nominatim api
    $.get( "http://nominatim.openstreetmap.org/reverse?", myLocation , function(location){

//              Store information received into addressdetails
        myLocation.addressdetails = location.address;

        if(!readCookie('city') ){
            console.log('setting cookie');
            setCookie("city",location.address.city || location.address.town || 'Rohnert Park');
            setCookie("city-lat",location.lat);
            setCookie("city-lon",location.lon);
        }
        //              get events from local api using addressdetails and return events
        $.get('/events',{city:readCookie('city'),currentDate:(new Date((new Date().getTime()+ 60*60*24*1000))) },function(events) {

//                  EventLayer is an array of markers to be placed on the map
            eventLayer = makeMarkers(events);

            otherGroup = L.layerGroup(eventLayer.other);
            musicGroup = L.layerGroup(eventLayer.music);
            comedyGroup = L.layerGroup(eventLayer.comedy);
            educationGroup = L.layerGroup(eventLayer.education);
            foodGroup = L.layerGroup(eventLayer.food);
            politicsGroup = L.layerGroup(eventLayer.politics);
            sportGroup = L.layerGroup(eventLayer.sport);
            partyGroup = L.layerGroup(eventLayer.party);

            // Remove readCookie('city') from activeCities since we just added it, avoids duplicate query
            var index = $.inArray(readCookie('city'), activeCities);
            activeCities.splice(index, 1);
            activeCityObjs.splice(index, 1);



//                   The street map layer for the app
            var street = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            });

//                  map object is created
            map = L.map('map', {
                center: [myLocation.lat, myLocation.lon],
                zoom: 14,
                layers: [street, otherGroup, musicGroup, comedyGroup, educationGroup, foodGroup, politicsGroup, sportGroup, partyGroup]
            });

            $('#loader').hide();

//                  creates a find me control
            locCtrl = L.control.locate({
                locateOptions: {
                    maxZoom: 13
                }
            }).addTo(map);

            map.on('locationfound', function (e) {

                if (parseFloat(readCookie('city-lat')).toFixed(2) !== e.latitude.toFixed(2)) {
                    console.log('requesting')

                    $.get('https://maps.googleapis.com/maps/api/geocode/json?latlng='+ e.latitude +','+e.longitude,{},function (location) {
                        var updatedCity;
                        var needToUpdate = true;
                        console.log(location.results[0]);

                        if(location.results[0].address_components.length === 7 ){
                            updatedCity = location.results[0].address_components[2].long_name;
                        } else if (location.results[0].address_components.length === 6 || 5){
                            updatedCity = location.results[0].address_components[1].long_name;
                        } else if (location.results[0].address_components.length === 8 ){
                            updatedCity = location.results[0].address_components[3].long_name;

                        } else {
                            console.log("No need to update");
                            needToUpdate = false;
                        }
                        if(needToUpdate){

                            if (readCookie('city') !== updatedCity) {
                                console.log("update map to new location");
                                setCookie("city", updatedCity);
                                setCookie("city-lat", location.results[0].geometry.location.lat);
                                setCookie("city-lon", location.results[0].geometry.location.lng);
                                updateMap();
                            } else {
                                console.log("No need to update");

                            }
                        }
                    });
                }
            });


            var overlayer = {
                'Other': otherGroup,
                'Music': musicGroup,
                'Comedy': comedyGroup,
                'Education': educationGroup,
                'Food': foodGroup,
                'Politics': politicsGroup,
                'Sports': sportGroup,
                'Party': partyGroup

            };

            var baselayer = {
                'Street': street
            };

//                  Control menu for layer on the map
            myLayers = L.control.layers(baselayer, overlayer).addTo(map);//
//
//                  Add event marker click callback
            function onMapClick(e) {
                if(userEventMarker === 'none'){
                    userEventMarker = new L.marker(e.latlng, {draggable:'true'}).bindPopup('<a href="/addEvent?lat='+e.latlng.lat+'&lng='+ e.latlng.lng+'&assignedLatLng=true">Add Event </a>');
                    userEventMarker.on('dragend', function(event){
                        var marker = event.target;
                        var position = marker.getLatLng();
                        marker.setLatLng(new L.LatLng(position.lat, position.lng),{draggable:'true'});
                        userEventMarker.setPopupContent('<a href="/addEvent?lat='+position.lat+'&lng='+ position.lng+'&assignedLatLng=true">Add Event </a>').update();
                        map.panTo(new L.LatLng(position.lat, position.lng));
                    });

                    map.addLayer(userEventMarker);
                } else {
                    userEventMarker.setLatLng(e.latlng);
                    userEventMarker.setPopupContent('<a href="/addEvent?lat='+e.latlng.lat+'&lng='+ e.latlng.lng+'&assignedLatLng=true">Add Event </a>').update();
                }
            };

            function updateMapOnly(cityObj){

                if((minBounds.lat < cityObj.lowLat && minBounds.lng < cityObj.lowLon && maxBounds.lat > cityObj.highLat && maxBounds.lng > cityObj.highLon) ||
                        (minBounds.lat < cityObj.highLat && minBounds.lng < cityObj.highLon && maxBounds.lat > cityObj.lowLat && maxBounds.lng > cityObj.lowLon) ||
                        (maxBounds.lat > cityObj.lowLat && maxBounds.lng > cityObj.lowLon && minBounds.lat < cityObj.highLat && minBounds.lng < cityObj.highLon)){

                    $.get('/events', {city: cityObj.name, currentDate: (new Date((new Date().getTime()+ 60*60*24*1000))) }, function (events) {


                        // Remove city from activeCities since we're about to add it
                        var index = $.inArray(cityObj.name, activeCities);
                        activeCities.splice(index, 1);
                        activeCityObjs.splice(index, 1);

                        // EventLayer is an array of markers to be placed on the map
                        eventLayer = makeMarkers(events);

                        otherGroup.addLayer(L.layerGroup(eventLayer.other));
                        musicGroup.addLayer(L.layerGroup(eventLayer.music));
                        comedyGroup.addLayer(L.layerGroup(eventLayer.comedy));
                        educationGroup.addLayer(L.layerGroup(eventLayer.education));
                        foodGroup.addLayer(L.layerGroup(eventLayer.food));
                        politicsGroup.addLayer(L.layerGroup(eventLayer.politics));
                        sportGroup.addLayer(L.layerGroup(eventLayer.sport));
                        partyGroup.addLayer(L.layerGroup(eventLayer.party));
                    });
                }
            }

            function drawNewEvents() {

                for (var i = 0; i < activeCities.length; i++) {
                    updateMapOnly(activeCityObjs[i]);
                }
            }



//                  Add click event to the map object and calls the add event marker callback
            map.on('click', onMapClick);

            function onMoveEnd(e) {
                var bounds = map.getBounds();
                minBounds = bounds.getSouthWest();
                maxBounds = bounds.getNorthEast();
                drawNewEvents();
            };

//                  Limit zoom out so that we don't get weird bounds
            map.options.minZoom = 9;

//                  Add moveend event to map object and calls function that draws newly shown events
            map.on('moveend', onMoveEnd);


            // allows user to vote many times
            map.on('popupopen',function(){

                //Vote on hotness
                $('#hotnessBtn').on('click',function(e){
                    var $this = $(this)
                    var eventId = $this.data('id');

                    $.get('/currentHotness',{id:eventId}, function(data){
                        sweetAlert(data.message);
                        if(new Boolean(data.update)){
                            setCookie('currentVote', eventId );
                        }

                        if(data.message === 'Your vote has been removed!'){
                            setCookie('currentVote', 'Empty' );
                        }

                        $this.off( e );
                    });

                });

            });
        });

    });
}

//        1. Get the browserwindow-height of the user-window via javascript (+px)
//        2. overwrite the css value with the js variable.
$('#map').css('height', ( parseInt( $( window ).height() - 52 - 35 ) ) + 'px' );

//      create map
if(readCookie('city') == (null || undefined)) {
    console.log('geo');
    navigator.geolocation.getCurrentPosition(initMap);
}else{
    console.log('cookie');
    initMap({
        coords:{
            latitude:readCookie('city-lat'),
            longitude: readCookie('city-lon')
        }
    });
}

//      update map on every new search
$('#searchButton').on('click', function() {
    locCtrl.stopLocate();
    $.get("https://maps.googleapis.com/maps/api/geocode/json?", { address: $('#city-search').val() }, function(location){
        var updatedCity;
        var needToUpdate = true;

        if(location.results.length === 0){
            sweetAlert('ߘ맬' ,'City not found', 'error');
            return;
        }
        console.log(location.results[0]);



        if( location.results[0].address_components.length === 4){
            updatedCity = location.results[0].address_components[0].long_name;
        } else{
            console.log("No need to update");
            needToUpdate = false;
        }
        if(needToUpdate){

            if (readCookie('city') !== updatedCity) {
                console.log("update map to new location");
                setCookie("city", updatedCity);
                setCookie("city-lat", location.results[0].geometry.location.lat);
                setCookie("city-lon", location.results[0].geometry.location.lng);
                updateMap();
            } else {
                console.log("No need to update");
            }
        }else{
            sweetAlert('ߘ맬', 'City not found', 'error');
        }
    });
});


//      Updates stars if flag is set
if($('#flag').attr('data-flag') === 'true' || readCookie('stars') === null){
    console.log('set to 12 stars');
    setCookie('stars',12);
}

//

</script>

<script>
    // Listen for ALL links at the top level of the document. For
    // testing purposes, we're not going to worry about LOCAL vs.
    // EXTERNAL links - we'll just demonstrate the feature.
    $( document ).on(
            "click",
            "a",
            function( event ){

                // Stop the default behavior of the browser, which
                // is to change the URL of the page.
                event.preventDefault();

                // Manually change the location of the page to stay in
                // "Standalone" mode and change the URL at the same time.
                location.href = $( event.target ).attr( "href" );

            }
    );
</script>


</body>
</html>