<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head%>
</head>
<body >

   <div class="container">
       <div class="row">
           <div class="col-md-12">

               <form  class="form-horizontal"action="#" method="post">

                   <fieldset>
                       <!-- Form Name -->
                       <legend>Required Information</legend>

                       <!-- username input-->
                       <div class="form-group">
                           <label class="col-md-1 control-label " for="textinput">Username</label>
                           <div class="col-md-11">
                               <input type="text" pattern=".{3,15}" Title="Please enter a username between 3 and 15 characters long"  name="username" class="form-control " required>
                           </div>
                       </div>


                       <!-- email input-->
                       <div class="form-group">
                           <label class="col-md-1 control-label " for="textinput">Email</label>
                           <div class="col-md-11">
                               <input type="email"  name="email" class="form-control " required>
                           </div>
                       </div>

                       <!-- password input-->
                       <div class="form-group">
                           <label class="col-md-1 control-label" for="textinput">Password</label>
                           <div class="col-md-11">
                               <input type="password" pattern=".{6,20}" title="Please enter a password between 6 and 20 characters long"  name="password" class="form-control" required>
                           </div>
                       </div>

                       <legend>Optional Information</legend>

                       <!-- Name input-->
                       <div class="form-group">
                           <label class="col-sm-1 control-label from-control" for="textinput">First Name</label>
                           <div class="col-sm-5">
                               <input type="text"  name="firstName" class="form-control">
                           </div>
                           <label class="col-sm-1 control-label from-control" for="textinput">Last Name</label>
                           <div class="col-sm-5">
                               <input type="text"  name="lastName" class="form-control">
                           </div>
                       </div>

                       <!-- Text input-->
                       <div class="form-group">
                           <label class="col-md-1 control-label" for="textinput">Line 1</label>
                           <div class="col-md-11">
                               <input type="text" placeholder="Address Line 1" name="addressLine1" class="form-control">
                           </div>
                       </div>

                       <!-- Text input-->
                       <div class="form-group">
                           <label class="col-md-1 control-label" for="textinput">Line 2</label>
                           <div class="col-md-11">
                               <input type="text" placeholder="Address Line 2"  name="addressLine2"class="form-control">
                           </div>
                       </div>

                       <!-- Text input-->
                       <div class="form-group">
                           <label class="col-md-1 control-label" for="textinput">City</label>
                           <div class="col-md-11">
                               <input type="text" placeholder="City" name="city" class="form-control">
                           </div>
                       </div>

                       <!-- Text input-->
                       <div class="form-group">
                           <label class="col-md-1 control-label" for="textinput">State</label>
                           <div class="col-md-5">
                               <input type="text" placeholder="State" name="state" class="form-control">
                           </div>

                           <label class="col-md-1  control-label" for="textinput">Postcode</label>
                           <div class="col-md-5">
                               <input type="text" placeholder="Post Code" name="zipcode" class="form-control">
                           </div>
                       </div>

                       <!-- Text input-->
                       <div class="form-group">
                           <label class="col-md-1  control-label" for="textinput">Country</label>
                           <div class="col-md-11">
                               <input type="text" placeholder="Country" name="country" class="form-control">
                           </div>
                       </div>


                       <div class="form-group">
                           <div class="col-sm-offset-2 col-sm-10">
                               <div class="pull-right">
                                   <button type="submit" class="btn btn-primary">Submit</button>
                               </div>
                           </div>
                       </div>



                   </fieldset>

               </form>

           </div>
       </div>
   </div>
        <% include ../partials/scripts %>
   <script>
       // Listen for ALL links at the top level of the document. For
       // testing purposes, we're not going to worry about LOCAL vs.
       // EXTERNAL links - we'll just demonstrate the feature.
       $( document ).on(
               "click",
               "a",
               function( event ){

                   // Stop the default behavior of the browser, which
                   // is to change the URL of the page.
                   event.preventDefault();

                   // Manually change the location of the page to stay in
                   // "Standalone" mode and change the URL at the same time.
                   location.href = $( event.target ).attr( "href" );

               }
       );
   </script>






</body>
</html>