<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head%>
    <link rel="stylesheet" href="stylesheets/singleEvent.css"/>
</head>
<body >
<div class="container">
<% include ../partials/nav%>



<div class="row " style="height:40%;">
    <div class="col-sm-offset-1 col-sm-10">

        <ul style="text-shadow: -.2px 0 black, 0 .2px black, .2px 0 black, 0 -.2px black; list-style-type: none; padding: 1%; margin: 0 .5% 0 1%;">
            <li>
                <div>
                    <h2>

                        <%if (events[0].webaddress.length > 0) { %>
                        <a href=<%=events[0].webaddress%>><%= events[0].title %></a>
                        <% } else { %>
                        <%= events[0].title %>
                        <% } %>
                    </h2>
                    <%if (events[0].description.length > 0) { %>
                        <%if(events[0].description.length > 2000){%>
                             <small><%=events[0].description%></small>
                        <%} else {%>
                             <p><%=events[0].description%></p>
                        <%}%>
                    <%}%>
                    <h4>
                        <%if (events[0].address.state.length > 0 &&  typeof events[0].street !== 'undefined') { %>
                        <%= events[0].address.street + ', ' + events[0].address.city + ", " + events[0].address.state + ', '+ events[0].address.country %>
                        <% } else if( typeof events[0].street === 'undefined'){ %>
                        <%=events[0].address.city +', '+ events[0].address.state%>
                        <% } else { %>
                        <%= events[0].address.street + ', ' + events[0].address.city + ', '+ events[0].address.country %>
                        <% } %>
                    </h4>
                    <small>Created by </small><strong><%=events[0].username%></strong>
                </div>
            </li>
            <li>
                <small>Category: <%= events[0].category %></small>
            </li>
            <%if (events[0].price.length > 0) { %>
            <li>
                <small>Price: <%= events[0].price%> </small>
            </li>
            <% } else { %>
            <li>
                <small>Price: Free </small>
            </li>
            <% } %>
            <li><small>Start time:
                    <%=
                    (function dateToString(date) {
                        var month = date.getMonth() + 1;
                        var day = date.getDate();
                        var dateOfString = (("" + month).length < 2 ? "0" : "") + month + "/";
                        dateOfString += (("" + day).length < 2 ? "0" : "") + day + "/";
                        dateOfString += date.getFullYear();
                        return dateOfString;
                    })(events[0].start) + " " +
                    (function getDateTime(date) {
                        var now     = new Date(date);
                        var hour = now.getHours();
                        var minute = now.getMinutes();
                        if(hour.toString().length == 1) {
                            var hour = '0'+hour;
                        }
                        if(minute.toString().length == 1) {
                            var minute = '0' + minute;
                        }
                        var ampm = hour >= 12 ? 'PM' : 'AM';
                        hour = hour % 12;
                        hour = hour ? hour : 12; // the hour '0' should be '12'
                        var time = hour + ':' + minute +' ' +  ampm;
                        return time;
                    })(events[0].start)
                    %>
                </small>
            </li>
            <li><small>End time:
                    <%=
                    (function dateToString(date) {
                        var month = date.getMonth() + 1;
                        var day = date.getDate();
                        var dateOfString = (("" + month).length < 2 ? "0" : "") + month + "/";
                        dateOfString += (("" + day).length < 2 ? "0" : "") + day + "/";
                        dateOfString += date.getFullYear();
                        return dateOfString;
                     })(events[0].end) + " " +
                    (function getDateTime(date) {
                        var now     = new Date(date);
                        var hour = now.getHours();
                        var minute = now.getMinutes();
                        if(hour.toString().length == 1) {
                            var hour = '0'+hour;
                        }
                        if(minute.toString().length == 1) {
                            var minute = '0' + minute;
                        }
                        var ampm = hour >= 12 ? 'PM' : 'AM';
                        hour = hour % 12;
                        hour = hour ? hour : 12; // the hour '0' should be '12'
                        var time = hour + ':' + minute +' ' +  ampm;
                        return time;
                    })(events[0].end)
                    %>
                </small>
            </li>
            <li>
                <%if(events[0].private) {%>
                <small>Private Event</small>
                <%}else{%>
                <small>Public Event</small>
                <%}%>
            </li>
            <li>

                <div class="eventStars" style="font-size: 3em;">
                    <!--only show ratingBtn if event is more than 24 hours in the future.-->
                    <%if(new Date((new Date().getTime() + 86400000)) < (new Date(events[0].start))){%>
                    <button id="ratingBtn" class="btn btn-default btn-sm " style="margin-top: 1%; color: red;"  data-toggle="modal" data-target="#rateModal">Hype up this event!</button>
                    <%}%>
                    <span data-rating="1">☆</span><span data-rating="2">☆</span><span data-rating="3">☆</span><span data-rating="4">☆</span><span data-rating="5">☆</span>
                    <!--<span class="badge"></span>-->
                    <div id="finalRating" data-rating="<%=(events[0].score/events[0].votes).toFixed(1) %>"></div>
                </div>




            </li>
            <li>
            </li>
        </ul>
    </div>





    <!-- Modal -->
    <div class="modal fade" id="rateModal" style="color: black;"   tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Hype Event</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class=" col-sm-offset-3 col-sm-6">
                            <div class="rating" >
                                <span data-rating="5">☆</span><span data-rating="4">☆</span><span data-rating="3">☆</span><span data-rating="2">☆</span><span data-rating="1">☆</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </span>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="myModal"  style="color:black;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Comment Box</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-6" >
                            <div class="form-group">
                                <textarea rows="4" cols="26"  class=”form-control” id="commentText" name="comment" placeholder="your comment..."></textarea>
                            </div>
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->

                </div>
                <div class="modal-footer">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                <button id='commentSubmit' class="btn btn-default" type="button">Add</button>
                             </span>
                </div>
            </div>
        </div>
    </div>

</div>





<div class="row">
    <div class="actionBox col-sm-offset-2 col-sm-8">
        <ul class="commentList">
            <% for(var i=0; i< events[0].comments.length; i++) {%>
            <li>
                <div class="commenterImage">
                    <img src= <%="http://lorempixel.com/50/50/people/" + i.toString() + '/' %> />
                </div>
                <div class="commentText">
                    <p class=""> <%=events[0].comments[i].content %> </p> <span class="date sub-text"> <%=events[0].comments[i].user %></span>
                    <br>
                    <small class="date sub-text">
                        <%=(function getDateTime(date) {
                            var now     = new Date(date);
                            var hour = now.getHours();
                            var minute = now.getMinutes();
                            if(hour.toString().length == 1) {
                                var hour = '0'+hour;
                            }
                            if(minute.toString().length == 1) {
                                var minute = '0' + minute;
                            }
                            var ampm = hour >= 12 ? 'PM' : 'AM';
                            hour = hour % 12;
                            hour = hour ? hour : 12; // the hour '0' should be '12'
                            var time = hour + ':' + minute +' ' +  ampm;

                            var month = now.getMonth() + 1;
                            var day = now.getDate();
                            var dateOfString = (("" + month).length < 2 ? "0" : "") + month + "/";
                            dateOfString += (("" + day).length < 2 ? "0" : "") + day + "/";
                            dateOfString += now.getFullYear();

                            return time +" " + dateOfString ;
                        })(events[0].comments[i].timestamp)%>
                    </small>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</div>

<div class="col-sm-12"> <button id="commentBtn" class="btn btn-default bt-sm pull-right "  data-toggle="modal" data-target="#myModal">Comment</button> </div>


</div>


<% include ../partials/scripts%>
<script>
    //    $('.container').css('height', ( parseInt( $( window ).height() ) ) +'px' );

    var reScore = false;


    function setCookie(cname, cvalue) {
        document.cookie = cname + "=" + cvalue;
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }


    function getUrlParameter(sParam){
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++){
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam)
            {
                return sParameterName[1];
            }
        }
    }

    function updateComments(){
        $('#myModal').modal('hide');
        $('.commentList').prepend("<li> <div class='commenterImage'><img src='http://lorempixel.com/50/50/people/6' /></div><div class='commentText'><p>" + $('#commentText').val() + "</p><span class='date sub-text'>"+ $('#username').text() +"</span>  <br> <small class='date sub-text'>Now</small></div></li>");
        $('#commentText').val('');
    }

    function setStars(score){
        console.log(score);
        var stars = $('.eventStars span');
        for(var i = 0 ; i < score; i++){
            $(stars[i]).css('color','gold');
        }
    };

    function updateRating(){
        $rating_span = $('.rating span');
        $rating_span.off();
        $('#rateModal').modal('hide');

        $('.rating').on('click',function(){
            reScore = confirm("Would you like to Hype again?");
            if (reScore == true) {
                $(this).off();
                $rating_span.on('click',function(){
                    var tmp = parseInt(readCookie('stars')) - parseInt($(this).attr('data-rating'));
                    console.log(tmp);
                    if(tmp >= 0){
                        setCookie('stars',tmp);
                        post( $(this).attr('data-rating') , reScore);
                    }else{
                        sweetAlert('Not enough stars!')
                    }
                });
            }
        });
    }
    function post(curretScore,isRedo){
        $.ajax({
            type:"POST",
            url: '/vote',
            data:{
                id:getUrlParameter('id'),
                userVote:curretScore,
                update: isRedo
            },
            success: updateRating,
            error: function(){
                sweetAlert('Error during rating!!');
            }
        });
    }

    $('#commentSubmit').on('click',function(){
        $.ajax({
            type: "POST",
            url: '/comment',
            data: {
                id:getUrlParameter('id'),
                userComment: $('#commentText').val()
            },
            success: updateComments

        });
    });

    $('.rating span').on('click',function(){
        var tmp = parseInt(readCookie('stars')) - parseInt($(this).attr('data-rating'));
        if(tmp >= 0){
            setCookie('stars',tmp);
            post( $(this).attr('data-rating') , reScore);
        }else{
            swal({
                title: "Error!",
                text: "Not enough stars!",
                type: "error",
                confirmButtonText: "Come back later"
            });
        }
    });

    setStars($('#finalRating').attr('data-rating'));
</script>

<script>
    // Listen for ALL links at the top level of the document. For
    // testing purposes, we're not going to worry about LOCAL vs.
    // EXTERNAL links - we'll just demonstrate the feature.
    $( document ).on(
            "click",
            "a",
            function( event ){

                // Stop the default behavior of the browser, which
                // is to change the URL of the page.
                event.preventDefault();

                // Manually change the location of the page to stay in
                // "Standalone" mode and change the URL at the same time.
                location.href = $( event.target ).attr( "href" );

            }
    );
</script>




</body>
</html>