

.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
}

.taskDescription {
    margin-top:10px;
}
.commentList {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
    padding-left: 1%;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color: #d9d9d9;
    font-family:verdana;
    font-size:11px;
}

.container {
    color:white;
}
.actionBox{
    height: 30%;
    padding-bottom: 2%;
}
#commentBtn{
    padding-right: 10px;
    margin-top: 1%;
    margin-bottom: 5%;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;

}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    color:black;
    font-size: 3em;
}
.rating > span:hover,
.rating > span:hover ~ span {
    color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: gold;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 280px)
and (max-device-width : 480px)
and (max-height:480px){
    .commentList {
        padding:0;
        margin-bottom: 0;
        list-style:none;
        max-height:80px;
        /*overflow:auto;*/
    }
    .actionBox{
        margin-top: 2%;
        padding-top: 5%;
    }
    #commentBtn{
        padding: 1%;
        margin: 0;
        margin-bottom: 1%;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 280px)
and (max-device-width : 480px)
and (min-device-height: 481px)
and (max-device-height:640px){
    .commentList {
        padding:0;
        margin-bottom: 0;
        list-style:none;
        max-height:160px;
        /*overflow:auto;*/
    }
    .actionBox{
        margin-top: 5%;
        padding-top: 8%;
        padding-bottom:1%;
    }
    #commentBtn{
        padding: 2%;
        margin: 2%;
    }
}


a:link {color:#ffffff;}
a:visited {color:#ffffff;}

