input:invalid {
  background-color: #E0EEEE;
}

body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #333333;
  padding: 0;
  margin: 0;


}

.container {
    background-color: #d75b04;
    box-shadow: 0 0 30px #000000;
    padding:0;
    margin-top: 0;
    border-radius: 6px;
    /*height: 100%;*/
}




a {
  color: #00B7FF;
}

.addEvent {
    padding: 1%;
}

html, body, #map {
    height: 100%;
}

.main-nav {
    margin-bottom: 0;
}
